# Database 
` python comes bundled with a library called sqlite3 that is a very light weight, yet powerful db `

pass

In [23]:
import sqlite3 as sq

In [24]:
sq

In [25]:
print(dir(sq))

['Binary', 'Connection', 'Cursor', 'DataError', 'DatabaseError', 'Date', 'DateFromTicks', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'PARSE_COLNAMES', 'PARSE_DECLTYPES', 'PrepareProtocol', 'ProgrammingError', 'Row', 'SQLITE_ALTER_TABLE', 'SQLITE_ANALYZE', 'SQLITE_ATTACH', 'SQLITE_CREATE_INDEX', 'SQLITE_CREATE_TABLE', 'SQLITE_CREATE_TEMP_INDEX', 'SQLITE_CREATE_TEMP_TABLE', 'SQLITE_CREATE_TEMP_TRIGGER', 'SQLITE_CREATE_TEMP_VIEW', 'SQLITE_CREATE_TRIGGER', 'SQLITE_CREATE_VIEW', 'SQLITE_CREATE_VTABLE', 'SQLITE_DELETE', 'SQLITE_DENY', 'SQLITE_DETACH', 'SQLITE_DONE', 'SQLITE_DROP_INDEX', 'SQLITE_DROP_TABLE', 'SQLITE_DROP_TEMP_INDEX', 'SQLITE_DROP_TEMP_TABLE', 'SQLITE_DROP_TEMP_TRIGGER', 'SQLITE_DROP_TEMP_VIEW', 'SQLITE_DROP_TRIGGER', 'SQLITE_DROP_VIEW', 'SQLITE_DROP_VTABLE', 'SQLITE_FUNCTION', 'SQLITE_IGNORE', 'SQLITE_INSERT', 'SQLITE_OK', 'SQLITE_PRAGMA', 'SQLITE_READ', 'SQLITE_RECURSIVE', 'SQLITE_REINDEX', 'SQLITE_SAVEPOINT', 'SQLITE_SELECT', 'SQLITE_TRANSACTION', 'SQLITE_UPDATE', 'Time', 'TimeFromTicks', 'Timestamp', 'TimestampFromTicks', 'Warning', '__builtins__', '__cached__', '__doc__', '__file__', '__getattr__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'adapt', 'adapters', 'apilevel', 'collections', 'complete_statement', 'connect', 'converters', 'datetime', 'dbapi2', 'enable_callback_tracebacks', 'enable_shared_cache', 'paramstyle', 'register_adapter', 'register_converter', 'sqlite_version', 'sqlite_version_info', 'threadsafety', 'time', 'version', 'version_info']

In [26]:
'cursor' in dir(sq)

False

In [27]:
sq.Cursor.__doc__

'SQLite database cursor class.'

In [28]:
help(sq.Cursor)

Help on class Cursor in module sqlite3:

class Cursor(builtins.object)
 |  SQLite database cursor class.
 |
 |  Methods defined here:
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  close(self, /)
 |      Closes the cursor.
 |
 |  execute(self, sql, parameters=(), /)
 |      Executes an SQL statement.
 |
 |  executemany(self, sql, seq_of_parameters, /)
 |      Repeatedly executes an SQL statement.
 |
 |  executescript(self, sql_script, /)
 |      Executes multiple SQL statements at once.
 |
 |  fetchall(self, /)
 |      Fetches all rows from the resultset.
 |
 |  fetchmany(self, /, size=1)
 |      Fetches several rows from the resultset.
 |
 |      size
 |        The default value is set by the Cursor.arraysize attribute.
 |
 |  fetchone(self, /)
 |      Fetches one row from the resultset.
 |
 |  setinputsizes(self, sizes, /)
 |      Required by DB-API. Does nothing in sqlite3.
 |
 |  setoutputsize(self, size, column=None, /)
 |      Required by DB-API. Does nothing in sqlite3.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  arraysize
 |
 |  connection
 |
 |  description
 |
 |  lastrowid
 |
 |  row_factory
 |
 |  rowcount

In [10]:
connection = sq.connect("testdb.sqlite3")

# Lets create a databse and then create table within the database and insert values in the table

In [12]:
import sqlite3
con = sqlite3.connect('test.db') # creates a database and returns a handle to the db
con.execute(' create table TEST(name text,age integer)') # fires an sql query to create a table
con.execute('insert into TEST values(?,?)',('Rahul',42)) # fires an sql query to insert data within a table
con.execute('insert into TEST values(?,?)',('Gokul',24))
con.close()

OperationalError: table TEST already exists

In [13]:
import sqlite3
con = sqlite3.connect('test.db') # creates a database and returns a handle to the db
con.execute(' create table if not exists TEST(name text,age integer)') # fires an sql query to create a table
con.execute('insert into TEST values(?,?)',('Rahul',42)) # fires an sql query to insert data within a table
con.execute('insert into TEST values(?,?)',('Gokul',24))
con.close()

In [17]:
# Retrieving contents from the database 
con = sqlite3.connect('test.db')
records = con.execute('select * from TEST')

In [18]:
records, type(records), id(records)

(<sqlite3.Cursor at 0x24bbe9407c0>, sqlite3.Cursor, 2524343175104)

In [20]:
records

In [21]:
print(dir(records))

['__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'arraysize', 'close', 'connection', 'description', 'execute', 'executemany', 'executescript', 'fetchall', 'fetchmany', 'fetchone', 'lastrowid', 'row_factory', 'rowcount', 'setinputsizes', 'setoutputsize']

In [22]:
records.fetchall()

[]

In [31]:
import sqlite3
try:
    con = sqlite3.connect("rahul.db")
    print("Connected to the database")
except Exception as e:
    print(e)
    
cur = con.cursor()
try:
    cur.execute('create table if not exists USER(id integer, name text)')
    print("Table created")
except Exception as e:
    print("error",e)

# write data 
try:
    cur.execute('insert into USER values(?,?)',(10,'rahul'))
    cur.execute('insert into USER values(?,?)',(20,'ujjwal'))
    print('Data written')
except Exception as e:
    print("Error in writing data: {}".format(e))

# Reading data 
try:
    records = cur.execute('select * from USER')
    print('Data read')
    print(records.fetchall())
except Exception as e:
    print("Error in reading data: {}".format(e))

Connected to the database
Table created
Data written
Data read
[(10, 'rahul'), (20, 'ujjwal')]


# Convert the same into functions

In [37]:
import sqlite3

def create_db(db_name):
    """creates database and returns the connection object"""
    try:
        con = sqlite3.connect(db_name)
        print("Connected to the database")
    except Exception as e:
        print(e)
        
    return con 

def create_table(con,table_name):
    """ creates tables in the database"""
    cur = con.cursor()
    try:
        cur.execute('create table if not exists {}(id integer PRIMARY KEY AUTOINCREMENT, name text)'.format(table_name))
        print("{} Table created".format(table_name))
    except Exception as e:
        print("error",e)
    finally:
        return cur

        
def write_data(cur,table_name='info'):
    # write data 
    try:
        cur.execute('insert into {} values(?,?)'.format(table_name),(10,'Gokul'))
        cur.execute('insert into {} values(?,?)'.format(table_name),(20,'Krish'))
        print('Data written')
    except Exception as e:
        print("Error in writing data: {}".format(e))
    finally:
        return cur
    
def read_data(cur):
    # Reading data 
    try:
        records = cur.execute('select * from {}'.format(table_name))
        print('Data read')
        print(records.fetchall())
    except Exception as e:
        print("Error in reading data: {}".format(e))

In [43]:
con = create_db('rahul.db')

Connected to the database

In [44]:
cursor=create_table(con,'info')

error database is locked

In [45]:
write_data(cursor)

Error in writing data: name 'table_name' is not defined