# Anonymous Functions 
***
- Function that has no name are known as Anonymous functions 
- They are also referred to as lambda functions

# Syntax to create a Anonymous function 
 ``- Use the keyword lambda followed by the argument your function will take, followed by : and a return val``
***

In [1]:
def adder(a,b):
    return a+b

In [2]:
adder(20,30)

50

In [3]:
lambda a,b:a+b

In [4]:
f = lambda a,b:a+b

In [6]:
f

In [7]:
f(10,20)

30

Write a function that takes list of friends as an argument.
That function should then ask for a user input 
Based on the input, look for the presence of the friend in the list 
If found, print "Friend Found", otherwise print " Friend not found "

In [8]:
def my_func(seq):
    """Looks for a specific friend in the list and returns True if found. False otherwise"""
    name = input("Enter name to look for ")
    if name in seq:
        print(" Found ")
    else:
        print("Not found ")

In [9]:
my_func

In [10]:
my_func.__doc__

'Looks for a specific friend in the list and returns True if found. False otherwise'

In [11]:
help(my_func)

Help on function my_func in module __main__:

my_func(seq)
    Looks for a specific friend in the list and returns True if found. False otherwise

In [14]:
friend_list = ["Rahul","Ajay","Vibha","Ujjwal"]
my_func(friend_list)

Enter name to look for ajay
Not found

Function to reverse a sequence ( string, list, tuple)

In [16]:
def reverse(seq):
    """>>>reverse("rahul")
       >>>"luhar"
    """
    return seq[::-1]

In [17]:
reverse

In [18]:
help(reverse)

Help on function reverse in module __main__:

reverse(seq)
    >>>reverse("rahul")
    >>>"luhar"

In [19]:
reverse("rahul")

'luhar'

In [20]:
reverse([1,2,3,4,5])

[5, 4, 3, 2, 1]

In [21]:
reverse((100,200,300,400,500))

(500, 400, 300, 200, 100)

## Write a function that tests for the type of input and will print the input type

In [22]:
def show_type(data):
    print(type(data))

In [23]:
show_type(23)

<class 'int'>

In [24]:
show_type("rahul")

<class 'str'>

In [25]:
show_type(True)

<class 'bool'>

In [26]:
show_type([1,2])

<class 'list'>

In [27]:
show_type({1,2})

<class 'set'>

write a function that takes a list of integers, and returns a list that only consist of unique elements

In [28]:
l = [1,2,3,4,1,2,5,3,1,2]

In [29]:
len(l), l

(10, [1, 2, 3, 4, 1, 2, 5, 3, 1, 2])

In [39]:
def return_unique(seq):
    """returns a list of unique elements"""
    temp = set(seq)
    print(temp)
    seq = list(temp)
    return seq

In [40]:
l = [1,2,3,1,2,1,2,4,5,6,7]
return_unique(l)

{1, 2, 3, 4, 5, 6, 7}

[1, 2, 3, 4, 5, 6, 7]

In [41]:
return_unique.__dict__

{}

In [42]:
return_unique.version = '1.0.0'
return_unique.author = 'Rahul Somani'

In [43]:
return_unique.__dict__

{'version': '1.0.0', 'author': 'Rahul Somani'}

In [34]:
range, type(range)

(range, type)

In [33]:
print(range.__doc__)

range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).

In [35]:
for i in range(10):
    print(i,end='\t')

0	1	2	3	4	5	6	7	8	9

In [38]:
for element in range(10,100):
    print(element,end='\t')

10	11	12	13	14	15	16	17	18	19	20	21	22	23	24	25	26	27	28	29	30	31	32	33	34	35	36	37	38	39	40	41	42	43	44	45	46	47	48	49	50	51	52	53	54	55	56	57	58	59	60	61	62	63	64	65	66	67	68	69	70	71	72	73	74	75	76	77	78	79	80	81	82	83	84	85	86	87	88	89	90	91	92	93	94	95	96	97	98	99

### write a function that mimics the range function/ method 
***

### Write a function that takes sequence as an input, and returns the average
***

In [3]:
def mrange(start=0,step = 1):
    """Mimics the range function/method
       Returns a list of numbers 
       >>> mrange(10)
       >>> [0,1,2,3,4,5,6,7,8,9]
    """
    l =[]
    while start < 50:
        l.append(start)
        start = start + step
    return l

In [5]:
print(mrange())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [6]:
print(mrange(10,2))

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [7]:
help(mrange)

Help on function mrange in module __main__:

mrange(start=0, step=1)
    Mimics the range function/method
    Returns a list of numbers
    >>> mrange(10)
    >>> [0,1,2,3,4,5,6,7,8,9]

In [8]:
mrange.__doc__

'Mimics the range function/method\n       Returns a list of numbers \n       >>> mrange(10)\n       >>> [0,1,2,3,4,5,6,7,8,9]\n    '

In [14]:
def averager(seq):
    """ Returns the average of the sequence"""
#     if type(seq) !=list or type(seq) !=tuple:
#         print("Cannot find the average")
#         return 
    return sum(seq)/len(seq)

In [16]:
averager([1,2,3,4,5])

3.0

In [20]:
def averager(seq):
    """ Returns the average of the sequence"""
    if type(seq) is list:
         return sum(seq)/len(seq)
    else:
        print("Cannot find the average")

In [21]:
averager((1,2))

Cannot find the average

In [22]:
averager([1,2,3])

2.0