# Conditonal Statements 
***

- Evaluates to either True of False 

- Returns a boolean value ( of the bool data type )

In [2]:
num = 10 
if num == 10:
    print(" Equal")
    print("First statement")
    print("Second statement")
    
else:
    print(" Not equal ")

 Equal
First statement
Second statement

In [3]:
num = 5
num == 5

True

In [4]:
num < 5

False

In [5]:
num > 5

False

In [6]:
num <=5

True

In [7]:
num >=5

True

In [8]:
if 10:
    print(" It is equal")
else:
    print(" Not equal ")

 It is equal

### Any non-zero value is considered to be True and any zero value is False 
***

In [9]:
if -100:
    print(" It is equal")
else:
    print(" Not equal ")

 It is equal

In [10]:
if 0:
    print(" It is equal")
else:
    print(" Not equal ")

 Not equal

while condition:
    statements

In [11]:
n = 0 
while n<10:
    print(n)
    n+=2

0
2
4
6
8

In [12]:
n = 0 
while n<10:
    print(n)
    n+=2
else:
    print("In the else clause ")
    print(f'Current value of n = {n}')

0
2
4
6
8
In the else clause
Current value of n = 10

In [13]:
n = 0 
while n>10:
    print(n)
    n+=2
else:
    print("In the else clause ")
    print(f'Current value of n = {n}')

In the else clause
Current value of n = 0

In [15]:
first_name = 'rahul'
last_name = 'somani'

while (first_name == 'rahul' and last_name=='somani'):
    print("welcome {}".format(first_name + " " + last_name))
    break
else:
    print("Credentials did not matched")
    print("Please try again")

welcome rahul somani

# Question 
***

In [16]:
a,b,c = 10,20,30
result = a<=b and b<=c and c>=a
print(result)

True

In [19]:
a,b,c = 10,20,30
result = (a<=b and c==100 )
print(result)

False

### Explain the usage of and and or logical operators with examples 
***