# Tuples 
***

` Tuple are data structure, that store data of homogeneous types (Not a neccessity) `

- Immutable in type

Creating a tuple :

    - using the comma operator 
    - using the tuple() constructor or factory method

In [4]:
t1 = 1,2,3
type(t1), id(t1), len(t1)

(tuple, 2153415513920, 3)

In [5]:
t2 = (100,200,300)
type(t2), id(t2), len(t2)

(tuple, 2153415545344, 3)

# An Empty tuple 
t3 = (,)
print(t3, type(t3))
# Because it is an empty tuple, a , leads python to raise an error

In [8]:
# An Empty tuple 
t4 = ()
print(t4, type(t4))

() <class 'tuple'>

In [9]:
tuple

tuple

In [11]:
t5 = tuple()
print(' Hi , I am a {} and my length is {}'.format(type(t5),len(t5)))

 Hi , I am a <class 'tuple'> and my length is 0

In [12]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

## Tuple Constructor 
- tuple(iterable=(), /)

In [14]:
t6 = tuple((1,2,3,4))

In [16]:
t6, type(t6), id(t6), len(t6)

((1, 2, 3, 4), tuple, 2153444233424, 4)

### Look at the magic methods and functionalities provided by the tuple class 
***

In [17]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [19]:
tuple.count, tuple.index

(<method 'count' of 'tuple' objects>, <method 'index' of 'tuple' objects>)

In [21]:
school_friends = "Rahul", "Ujjwal","Shweta","Ratnesh","Arrow"
college_friends = "Abhishek","Snigdha","Amit","Banerjee"

# can tuples be concatented 
# can tuples be reassigned a value 

print("School friends = {}, Number of friends = {}".format(school_friends,len(school_friends)))
print("Collge friends = {}, Number of friends = {}".format(college_friends,len(college_friends)))

total_friends = school_friends + college_friends 
print(total_friends)

School friends = ('Rahul', 'Ujjwal', 'Shweta', 'Ratnesh', 'Arrow'), Number of friends = 5
Collge friends = ('Abhishek', 'Snigdha', 'Amit', 'Banerjee'), Number of friends = 4
('Rahul', 'Ujjwal', 'Shweta', 'Ratnesh', 'Arrow', 'Abhishek', 'Snigdha', 'Amit', 'Banerjee')

In [22]:
school_friends

('Rahul', 'Ujjwal', 'Shweta', 'Ratnesh', 'Arrow')

### Indexing in a tuple

In [24]:
school_friends[1], school_friends[-2]

('Ujjwal', 'Ratnesh')

### Slicing a tuple

In [25]:
college_friends

('Abhishek', 'Snigdha', 'Amit', 'Banerjee')

In [26]:
college_friends[:3]

('Abhishek', 'Snigdha', 'Amit')

In [27]:
college_friends

('Abhishek', 'Snigdha', 'Amit', 'Banerjee')

In [29]:
college_friends[0] = 'Somani'

TypeError: 'tuple' object does not support item assignment

In [30]:
t1 = 1,2,3
t2 = 1,2,3

In [31]:
id(t1), id(t2)

(2153444297984, 2153415919424)

In [32]:
t1 = 100,200,300

In [33]:
id(t1)

2153444072320

## Can we make changes to an element in a tuple. If so how ? 
***

In [34]:
t = 'rahul',42,'software professional','Abu Dhabi'

In [35]:
t2 = 1,2,3,4,5,6,7,8,9

In [36]:
t2

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [37]:
t2[0:5]

(1, 2, 3, 4, 5)

In [38]:
t2[0:5:1]

(1, 2, 3, 4, 5)

In [39]:
t2[0:5:2]

(1, 3, 5)

In [42]:
t = 'rahul',42,'software professional','Abu Dhabi'
print(" id of t = {}".format(hex(id(t))))
print("Trying to change an element in the tuple".center(80,'-'))

# Step 1. Change the tuple to a list 
# step 2. Make changes in the list ( as list are mutable type ds)
# step3. Change the list back to tuple 

l = list(t)
l[0] = 'Somani'
t = tuple(l)
print(" Modified tuple = {} and id = {}".format(t,hex(id(t))))

 id of t = 0x1f56346db20
--------------------Trying to change an element in the tuple--------------------
 Modified tuple = ('Somani', 42, 'software professional', 'Abu Dhabi') and id = 0x1f56346d800

### Look for the presence of an element in a tuple / list / string 
***

In [43]:
average = 10.5,23.33,67,15.89,19.67,20.0,50.0

In [44]:
id(average), type(average)

(2153443957664, tuple)

In [45]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [46]:
tuple.__contains__

In [49]:
average = 10.5,23.33,67,15.89,19.67,20.0,50.0

result = 15.09 in average

In [50]:
result

False

In [51]:
average.__contains__(50.0)

True

### Points to ponder 
***
When we use the in keyword, python goes and looks for the implementation of __contains__ . If it has 
been implemented , it gives us the result, otherwise throws an error

In [53]:
msg = 'Hello world'
# see whether __contains__ is implemented in the string class 
print(dir(msg))
msg.__contains__('H')

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

True

In [54]:
print(dir(int))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [56]:
'__contains__' in dir(int)
# This is the reason that we cannot use the in keyword to look for specific elements in an integer class

False

In [57]:
int.__floor__

In [58]:
help(int.__floor__)

Help on method_descriptor:

__floor__(...)
    Flooring an Integral returns itself.

In [61]:
# The use of // , internally calls the _floor__
23.54.__floor__()

23

In [63]:
12.4.__floor__()

12

In [65]:
int.__floor__.__doc__

'Flooring an Integral returns itself.'

In [66]:
float.__floor__.__doc__

'Return the floor as an Integral.'

In [68]:
val = float(input("Enter a floating value"))
print(val.__floor__())

Enter a floating value23.89
23